* {
    box-sizing: border-box;

}

body {
    font-family: Arial;
    padding: 10px;
    background: #c0deed;
}
h2{

    color: blue;
}

div li{
    font-family: Georgia,"Times New Roman",serif;
    font-size: 12px;
    font-weight: bold;
    color: #600;
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
}
.header {
    padding: 30px;
    background: #f5f5dc;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 1.75em;
    letter-spacing: .2em;
    line-height: 1.1em;
    margin:0px;
    text-align: center;
    text-transform: uppercase;
}

.header h1 {
    font-size: 50px;

}



.leftcolumn {
    float: left;
    width: 75%;
}


.rightcolumn  {
    float: left;
    width: 25%;
    background-color: #c0deed;
    padding-left: 20px;
    font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;

}




.card {
    background-color: beige;
    padding: 20px;
    margin-top: 20px;
    text-decoration: none;
}

/* selector inserts something after the content of each selected element(s).*/
.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #f5f5dc;
    margin-top: 20px;
}

/*  make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

form {
    margin-left: 0%;

    text-align: center;
}
h1{
    text-align: center;
}



