

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sportsapp/index.css' %}">

</head>
</html>

<body>

<div class="header">

    <h1>NBA NEWS</h1>
    <p>Where the content is brought to you</p>
</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <form  method="POST">
                {% csrf_token %}
                {{ Postform.as_p }}
                <button>Submit</button>
            </form>


        </div>
        {% block content %}
        <div class="card">
            <h1>  News Feed </h1>
            <ul>

                {% for entry in feeds.entries %}
                <div>
                    <li><a href="{{entry.link}}" target="_blank" style="text-decoration:none">{{entry.title}}</a>
                    <section>{{entry.description}}</section>
                    </li>
                </div>
                {% endfor %}
            </ul>
            <h5>Rss feed provided by nba.com</h5>
        </div>
        {% endblock content %}


    </div>

    <div class="rightcolumn">
        <div class="card">
            <h1>TRASH TALK</h1>
            {% for obj in object_list %}
            <h2 id="username">{{ obj.title}}</h2>
            <p>{{ obj.content }}</p>
            <p>{{ obj.dateCreated }}</p>
            {% endfor %}


        </div>
    </div>
</div>
<div class="footer">
    <h4>site created by Carlos Garcia </h4>
</div>

</body>
</html>