

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'sportsapp/index.css' %}">

</head>
</html>

<body>

<div class="header">

    <h1>NBA NEWS</h1>
    <p>Where the content is brought to you</p>
</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <form  method="POST">
                {% csrf_token %}
                {{ Postform.as_p }}
                <button>Submit</button>
            </form>


        </div>
        {% block content %}
        <div class="card">
            <ul>

                {% for entry in feeds.entries %}
                <div>
                    <li><a href="{{entry.link}}" target="_blank">{{entry.title}}</a>
                        <p>{{entry.description}}<p>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
        {% endblock content %}


    </div>

    <div class="rightcolumn">
        <div class="card">
            <h2>TRASH TALK</h2>
            {% for obj in object_list %}
            <h3 class="username">{{ obj.title}}</h3>
            <p>{{ obj.content }}</p>
            <p>{{ obj.dateCreated }}</p>
            {% endfor %}


        </div>
        <div class="card">
            <h3>Follow Me</h3>
            <p></p>
        </div>
    </div>
</div>
<div class="footer">
    <h5>site created by Carlos Garcia </h5>
</div>

</body>
</html>